body {
	font-family: tahoma, arial, sans-serif;
	font-size: 18pt;
}
table {
	width: 100%;
	border: 1px solid blue;
	border-collapse: collapse;
}
thead {
	font-size: 0.8em;
	font-weight: bold;
}
td {
	border: 1px solid blue;	
	padding: 5px;

}